<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minshang.eps.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.minshang.eps.entity.Company" >
    <id column="companyid" property="companyid" jdbcType="INTEGER" />
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    companyid, companyname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_dini_company
    where companyid = #{companyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_dini_company
    where companyid = #{companyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.minshang.eps.entity.Company" >
    insert into tb_dini_company (companyid, companyname)
    values (#{companyid,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.minshang.eps.entity.Company" >
    insert into tb_dini_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        companyid,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minshang.eps.entity.Company" >
    update tb_dini_company
    <set >
      <if test="companyname != null" >
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
    </set>
    where companyid = #{companyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minshang.eps.entity.Company" >
    update tb_dini_company
    set companyname = #{companyname,jdbcType=VARCHAR}
    where companyid = #{companyid,jdbcType=INTEGER}
  </update>
</mapper>